<!DOCTYPE html>

<html lang="pt_br"> 

<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Proffy | * Your Plataform to Study Online * |</title> 

    <meta name="theme-color" content="#8257E5"> 
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    </style>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/peaces/page-land.css">

    
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>

<body id="page-landing">
    <div id= "container">
        
        <div class="logo-container">
            <img src="images/logo.svg" alt="Proffy">
            <h2> Your Plataform to Study Online </h2>
        </div>

        <img class= "people-image" src="images/landing.svg" alt="Plataforma de Estudos">

        <div class="buttoms-container">
            <a class="study" href="/study">
                <img src="/images/icons/study.svg" alt="Estudar"> Study
            </a>
            
            <a class="give-classes" href="/give-classes">
                <img src="/images/icons/give-classes.svg" alt="Dar Aulas"> Give classes
            </a>
        </div>

        <p class="total-conections">
            Total of 200 conections already realized
            <img src="images/icons/purple-heart.svg" alt="Coração roxo">
            
        </p>
    </div>
</body>

</html>